# Chapter 3. Data Manipulation with pandas

# 3.1 DataFrames

Pandas is designed to work with rectangular data, which is represented as a DataFrame.

Every value within a column has the same data type, either text or numeric. Different columns can contain different data types.

It is useful to explore and get a sense of the contents of a new data set.

In [1]:
import pandas as pd

## Methods to explore a dataset

### .head()
* Returns the first few rows of the dataframe

In [2]:
# df.head()

### .info()
* Displays the names of columns, the data types they contain, and whether they have any missing values

In [3]:
# df.info()

### .describe()
* Computes some summary statistics for numerical columns, like mean and median.
* "count" is the number of non-missing values in each column.
* describe is good for a quick overview of numeric variables

In [4]:
# df.describe()

### .shape
* Contains a tuple that holds the number of rows followed by the number of columns.

In [5]:
# df.shape

## Components of a dataset
DataFrames consist of three different components, accessible using attributes.

### .values
*  The values attribute, as you might expect, contains the data values in a 2-dimensional NumPy array.

In [6]:
# df.values

### .columns
+ Contains column names.

In [7]:
# df.columns

### .index
* Contains row numbers or row names.
* Important: row labels are stored in dot-index, not in dot-rows.

In [8]:
# df.index

## Sorting and subsetting

### Sorting
* By sorting, you can change the order of rows so that the most interesting data is at the top of the DataFrame
* Setting the argument ascending=False will sort the data the other way round (descending order)

In [9]:
# df.sort_values("column_name", ascending=Bool)

#### Sorting by multiple variables
* It uses lists to specify the column names and the "ascending" argument for each element of the list

In [10]:
# df.sort_values(["column_name_1", "column_name_2"], ascending=[True, False])

### Subsetting
* Zooms in one or more columns.

In [11]:
# df["column_name"]

#### Subsetting multiple columns
* Creates a list of column names to subset and then uses that list to subset the DataFrame.

In [12]:
# OPTION 1
# cols_to_subject = ["column_name_1", "column_name_2"]
# df[cols_to_subject]

# OPTION 2
# df[["column_name_1", "column_name_2"]]

#### Subsetting based on text data

In [13]:
# df[df["column_name"] == "string_value"]

#### Subsetting based on dates

In [14]:
# df[df["column_name"] == "yyyy-mm-dd"]

#### Subsetting based on multiple conditions

In [15]:
# OPTION 1
# is_condition_1 = df[column_1] == value_1
# is_condition_2 = df[column_2] == value_2
# df[is_condition_1 & is_condition_2]

# OPTION 2
# df[ (df[column_1] == value_1) & (df[column_2] == value_2) ]

#### Subsetting using.isin() method

In [16]:
# is_option1_or_option2 = df["column_name"].isin([option1, option2])
# df[is_option1_or_option2]

### New Columns
* You may have to add new columns derived from existing columns.

#### Adding a new column

In [17]:
# df["new_column_name"] = df["column_name"] / 100

#### Multiple manipulations

In [18]:
# Example from a dog database
# skinny_dogs = dogs[dogs["bmi"] < 100] # This is a subset from the dogs DataFrame
# skinny_dogs_height = skinny_dogs.sort_values("height_cm", ascending=False) # We sort the result in descending order of height to get the talles skinny dog at top
# skinny_dogs_height[["name", "height_cm", "bmi"]] # We keep the columns we are interested in

# 3.2 Aggregating data

## Summary statistics
* Summary statistics, as follows from their name, are numbers that summarize and tell you about your dataset.

### Summarizing numerical data

In [19]:
# df["column_name"].mean()
# df["column_name"].median()
# df["column_name"].mode()
# df["column_name"].min()
# df["column_name"].max()
# df["column_name"].var()
# df["column_name"].std()
# df["column_name"].sum()
# df["column_name"].quantile()

### Summarizing dates

In [20]:
# df["column_name"].min() # oldest date
# df["column_name"].max() # earliest date

### .agg() method
* Allows you to compute custom summary statistics.

In [21]:
# def pct30(column): # function called pct30 that computes the thirtieth percentile of a DataFrame column. 
#     return column.quantile(0.3)

# df["column_name"].agg(pct30) # it gives us the thirtieth percentile of the column_name.

### Summaries on multiple columns
* agg can also be used on more than one column.

In [22]:
# df[["column_name_1", "column_name_2"]].agg(pct30) # it gives us the thirtieth percentile of both columns.

### Multiple summaries
* agg also can be used to get multiple summary statistics at once.

In [23]:
# def pct40(column): # function called pct40 that computes the fortieth percentile of a DataFrame column. 
#     return column.quantile(0.4)

# df["column_name"].agg([pct30, pct40]) # it gives us the thirtieth and fortieth percentile of the column_name.

### Cumulative statistics
These all return an entire column of a DataFrame:
* Cummulative sum
* Cummulative maximum
* Cummulative minimum
* Cumulative product

In [24]:
# df["column_name"].cumsum()
# df["column_name"].cummax()
# df["column_name"].cummin()
# df["column_name"].cumprod()

### Dropping duplicate values

#### Dropping duplicates from a single column

In [25]:
# df.drop_duplicates(subset="column_name")

#### Dropping duplicates from multiple columns

In [26]:
# df.drop_duplicates(subset=["column_name_1", "column_name_2"])

### Counting the unique values of a column

In [27]:
# df.["column_name"].value_counts()
# df.["column_name"].value_counts(sort=True) # sorts the values with the highest count on top

### Proportions of the unique values in a column

In [28]:
# df.["column_name"].value_counts(normalize=True)

### Grouped summaries

#### groupby() for a variable

In [29]:
# df.groupby("column_1")["column_2"].mean()
# Gives you the mean column_2 for each column_1 category

#### groupby() for multiple variables

In [30]:
# df.groupby(["column_1", "column_2"])["column_3"].mean()
# Gives you the mean column_3 for each column_1 and column_2 categories

#### groupby() for many groups, many summaries

In [31]:
# df.groupby(["column_1", "column_2"])[["column_3", "column_4"]].mean()
# Gives you the mean column_3 and mean column_4
# for each column_1 and column_2 categories

### Pivot tables

#### From groupby() to pivot_table()
* By default, pivot table takes the mean value for each group

In [32]:
# groupby() example
# df.groupby("column_1")["column_2"].mean()

# pivot_table() equivalence
# df.pivot_table(values="column_2", index="column_1")

#### Different statistics using pivot_table()

In [33]:
# df.pivot_table(values="column_2", index="column_1", aggfunc=np.median)
# Returns the median of column_2 for column_1

#### Multiple statistics using pivot_table()

In [34]:
# df.pivot_table(values="column_2", index="column_1", aggfunc=[np.mean, np.median])
# Gives the mean and median of column_2 for column_1

#### Pivot on two variables

In [35]:
# groupby() example
# df.groupby(["column_1", "column_2"])["column_3"].mean()

# pivot_table() equivalence
# df.pivot_table(values="column_3", index="column_1", columns="column_2")

# Gives you the mean column_3 for each column_1 and column_2 categories

#### Filling missing values in pivot tables

In [36]:
# df.pivot_table(values="column_3", index="column_1", columns="column_2", fill_value=0)

#### Summing with pivot tables
* Parameter "margins=True": the last row and column of the pivot table contian the mean of all the values in the column or row.
* Does not include the missing values that are filled in with zeros

In [37]:
# df.pivot_table(values="column_3", index="column_1", columns="column_2",
    # fill_value=0, margins=True)

# 3.3 Slicing and indexing data

## Explicit indexes

### .columns

In [38]:
# df.columns # Contains an index object of column names

### .index

In [39]:
# df.index # Contains an index object of row numbers

### Setting a column name as the index

In [40]:
# df_ind = df.set_index("column_1")

### Removing an index: .reset_index()

In [41]:
# df_ind.reset_index(drop=True)

### Multi-level indexes (hierarchical indexes): .sets_index()

In [42]:
# df_ind = df.sets_index(["index_1", "index_2"])

### Subset the outer level with a list: .loc[["value1_column1", "value2_column1"]]

In [43]:
# df_ind = df.loc[["value1_column1", "value2_column1"]]

### Subset inner levels with a list of tuples: .loc[[(tuple_1), (tuple_2)]]

In [44]:
# df_ind = df.loc[[(value1_column1, value1_column2), (value2_column1, value2_column2)]]

### Sorting by index values: sort_index()

In [45]:
# df.sort_index()

### Controlling sort_index

In [46]:
# df.sort_index(level=["column_2", "column_1"], ascending=[True, False])

## Slicing and subsetting with .loc and .iloc

### Sort index before slicing

In [47]:
# df_srt = df.set_index(["index_1", "index_2"]).sort_index()

### Slicing the outer index level

In [48]:
# df_srt.loc["value_1_index_1":"value_n_index_1"]

### Slicing the inner index level

In [49]:
# df_srt.loc[("value_1_index_1", "value_1_index_2"):("value_n_index_1", "value_n_index_2)]

### Slicing columns

In [50]:
# df_srt.loc[:, "column_1":"column_n"]

### Slice twice

In [51]:
# df_srt.loc[("value_1_index_1", "value_1_index_2"):("value_n_index_1", "value_n_index_2), "column_1":"column_n"]

### Slicing by dates

In [52]:
# df.loc["yyyy-mm-dd":"yyyy-mm-dd"]

### Slicing by partial dates

In [53]:
# df.loc["yyyy":"yyyy"]

### Subsetting by row/column number

In [54]:
# df.iloc[2:5,1:4]

## Working with pivot tables

In [55]:
# Example dataframe
# dogs_height_by_breed_vs_color = dog_pack.pivot_table("height_cm", index="breed", columns="color")

### .loc[] + slicing

In [56]:
# dogs_height_by_breed_vs_color.loc["Chow Chow":"Poodle"]

### Axis argument ("index" is default, meaning "calculate the statistics across rows")

In [57]:
# dogs_height_by_breed_vs_color.mean(axis="index")

In [58]:
# dogs_height_by_breed_vs_color.mean(axis="columns")

### Accessing the components of a date (year, month, day) through df["column"].dt.component

In [59]:
# df["column"].dt.year
# df["column"].dt.month
# df["column"].dt.day

# 3.4 Creating and visualizing DataFrames

## Visualizing DataFrames

In [60]:
import matplotlib.pyplot as plt

### Histograms

Show the distirbution of a numeric variable.

In [61]:
# df["column_name"].hist(bins=value)
# plt.show()

In [62]:
# dog_pack["height_cm"].hist()
# plt.show()

### Bar plots

Reveal relationships between a categorcial and a numerical variable.

In [63]:
# df.groupby("column_categorical_values")["column_numeric_values"].mean()
# df.plot(kind="bar", title="plot title")
# plt.show()

In [64]:
# avg_weight_by_breed = dog_pack.groupby("breed")["weight_kg"].mean()
# print(avg_weight_by_breed)

In [65]:
# avg_weight_by_breed.plot(kind="bar", title="Mean weight by dog breed")
# plt.show()

### Line plots

Great for visualizing changes in numeric variables over time.

In [66]:
# df.head()
# df.plot(x="date", 
#            y="column_numeric_values", 
#            kind="line")
# plt.show()

In [67]:
# sully.head()
# sully.plot(x="date", 
#            y="weight_kg", 
#            kind="line")
# plt.show()

### Rotating axis labels

In [68]:
# df.head()
# df.plot(x="date", 
#            y="column_numeric_values", 
#            kind="line",
#            rot=45)
# plt.show()

In [69]:
# sully.plot(x="date", 
#            y="weight_kg", 
#            kind="line",
#            rot=45)
# plt.show()

### Scatter plots

Great for visualizing relationships between two numeric variables.

In [70]:
# df.plot(x="column_numeric_values_1", y="column_numeric_values_2", kind="scatter")
# plt.show()

In [71]:
# dog_pack.plot(x="height_kg", y="weight_kg", kind="scatter")
# plt.show()

### Layering plots

In [72]:
# df[df["column_categorical_values"] == "value_1"]["height_cm"].hist(alpha=0.7) # alpha value makes a plot translucid
# df[df["column_categorical_values"] == "value_2"]["height_cm"].hist(alpha=0.7)
# plt.legend(["value_1", "value_2"])
# plt.show()

In [73]:
# dog_pack[dog_pack["sex"] == "F"]["height_cm"].hist(alpha=0.7)
# dog_pack[dog_pack["sex"] == "M"]["height_cm"].hist(alpha=0.7)
# plt.legend(["F", "M"])
# plt.show()

## Missing values

* There is always a chance that there are some pieces missing in a dataset.
* In pandas, missing values are indicated by NaN, which means "not a number"

### Detecting missing values: df.isna()

In [74]:
# We will receive a Boolean value for every single value indicating whether the value is missing or not.
# df.isna()

### Detecting any missing values: df.isna().any()

In [75]:
# We get one Boolean value for each variable. It will tel us if there are any missing values per column
# df.isna().any()

### Counting missing values: df.isna().sum()

In [76]:
# Counting the number of Trues for columns with missing values
# df.isna().sum()

### Plotting missing values

In [77]:
# import matplotlib.pyplot as plt
# df.isna().sum().plot(kind="bar")
# plt.show()

### Removing missing values: df.dropna()

In [78]:
# Not ideal if you have a lot of missing data, meaning you would be losing a lot of observations
# df.dropna()

### Replacing missing values with another value: df.fillna()

In [79]:
# This method takes in a value and all NaNs will be replaced with this value
# df.fillna(value)

## Creating DataFrames

### Dictionaries

* A way of storing data in Python
* It holds a set of key-pair values
* Created using curly braces {}

In [80]:
# my_dict = {
#     "key1": value1,
#     "key2": value2,
#     "key3": value3
# }

In [81]:
# Access a value of a dictionary via their keys in square brackets
# my_dict["key1"]

In [82]:
my_dict = {
    "title": "Charlotte's Web",
    "author": "E.B. White",
    "published": 1952
}

In [83]:
my_dict["title"]

"Charlotte's Web"

### Creating DataFrames from a List of dictionaries - by row

It is constructed row by row

In [84]:
list_of_dicts = [
    {"name":"Ginger", "breed":"Dachshund", "height_cm":22, "weight_kg":10, "date_of_birth":"2019-03-14"},
    {"name":"Scout", "breed":"Dalmatian", "height_cm":59, "weight_kg":25, "date_of_birth":"2019-05-09"}
]

In [85]:
new_dogs = pd.DataFrame(list_of_dicts)
print(new_dogs)

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09

### Creating DataFrames from a Dictionary of lists - by column

It is constructed column by column

In [86]:
dict_of_lists = {
    "name": ["Ginger", "Scout"],
    "breed": ["Dachshund", "Dalmatian"],
    "height_cm": [22, 59],
    "weight_kg": [10, 25],
    "date_of_birth": ["2019-03-14", "2019-05-09"]
}

In [87]:
new_dogs = pd.DataFrame(list_of_dicts)
print(new_dogs)

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09

## Reading and writing CSVs

* CSV (comma-separated values) is a common data storage file type
* Designed to store tabular data
* Text file where each row of data has its own line, and each value is separated by a comma

In [91]:
# FROM CSV TO DATAFRAME
# import pandas as pd
# new_dogs = pd.read_csv("new_dogs.csv")
# print(new_dogs)

In [92]:
# FILE NOW CAN BE EDITED AS A DATAFRIME
# new_dogs["bmi"] = new_dogs["weight_kg"] / (new_dogs["height_cm"]) ** 2
# print(new_dogs)

In [93]:
# DATAFRAME TO CSV
# new_dogs.to_csv("new_dogs_with_bmi".csv")